body.compensate-for-scrollbar
{
    overflow: hidden;
}

.fancybox-active
{
    height: auto;
}

.fancybox-is-hidden
{
    position: absolute !important;
    top: -9999px;
    left: -9999px;

    visibility: hidden;

    margin: 0;
}

.fancybox-container
{
    position: fixed;
    z-index: 99992;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translateZ(0);

    outline: none;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.fancybox-container *
{
    box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fancybox-outer
{
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

.fancybox-bg
{
    transition-timing-function: cubic-bezier(.47, 0, .74, .71);
    transition-duration: inherit;
    transition-property: opacity;

    opacity: 0;
    background: #000;
}

.fancybox-is-open .fancybox-bg
{
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);

    opacity: .5;
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button
{
    position: absolute;
    z-index: 99997;

    visibility: hidden;

    transition: opacity .25s ease, visibility 0s ease .25s;

    opacity: 0;

    direction: ltr;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button
{
    visibility: visible;

    transition: opacity .25s ease 0s, visibility 0s ease 0s;

    opacity: 1;
}

.fancybox-infobar
{
    color: #fff;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 44px;

    top: 0;
    left: 0;

    min-width: 44px;
    height: 44px;
    padding: 0 10px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-touch-callout: none;
}

.fancybox-toolbar
{
    top: 0;
    right: 0;
}

.fancybox-stage
{
    z-index: 99994;

    overflow: visible;

    transform: translateZ(0);

    direction: ltr;
}

.fancybox-is-open .fancybox-stage
{
    overflow: hidden;
}

.fancybox-slide
{
    position: absolute;
    z-index: 99994;
    top: 0;
    left: 0;
    /* Using without prefix would break IE11 */

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 44px;

    transition-property: transform, opacity;
    text-align: center;
    white-space: normal;

    outline: none;

    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
}

.fancybox-slide::before
{
    font-size: 0;

    display: inline-block;

    width: 0;
    height: 100%;

    content: '';
    vertical-align: middle;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next
{
    display: block;
}

.fancybox-slide--image
{
    overflow: hidden;

    padding: 44px 0;
}

.fancybox-slide--image::before
{
    display: none;
}

.fancybox-slide--html.fancybox-slide
{
    padding: 15px;
}

.fancybox-content
{
    position: relative;

    display: inline-block;

    max-width: 100%;
    margin: 0;

    text-align: left;
    vertical-align: middle;

    -webkit-overflow-scrolling: touch;
}

.fancybox-slide--image .fancybox-content
{
    position: absolute;
    z-index: 99995;
    top: 0;
    left: 0;

    overflow: visible;

    max-width: none;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition-property: transform, opacity;
    -ms-transform-origin: top left;
        transform-origin: top left;
    animation-timing-function: cubic-bezier(.5, 0, .14, 1);

    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    -webkit-backface-visibility: hidden;
}

.fancybox-can-zoomOut .fancybox-content
{
    cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content
{
    cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content
{
    cursor: -webkit-grab;
    cursor:         grab;
}

.fancybox-is-grabbing .fancybox-content
{
    cursor: -webkit-grabbing;
    cursor:         grabbing;
}

.fancybox-container [data-selectable='true']
{
    cursor: text;
}

.fancybox-image,
.fancybox-spaceball
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    border: 0;
    background: transparent;
}

.fancybox-spaceball
{
    z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content
{
    overflow: visible;

    width: 100%;
    height: 100%;
    padding: 0;
}

.fancybox-slide--video .fancybox-content
{
    background: #000;
}

.fancybox-slide--map .fancybox-content
{
    background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content
{
    background: #fff;
}

.fancybox-video,
.fancybox-iframe
{
    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    border: 0;
    background: transparent;
}

/* Fix iOS */
.fancybox-iframe
{
    position: absolute;
    top: 0;
    left: 0;
}

.fancybox-error
{
    width: 100%;
    max-width: 400px;
    padding: 40px;

    cursor: default;

    background: #fff;
}

.fancybox-error p
{
    color: #444;
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    padding: 0;
}

/* Buttons */

.fancybox-button
{
    position: relative;

    display: inline-block;
    visibility: inherit;

    width: 44px;
    height: 44px;
    margin: 0;
    padding: 10px;

    cursor: pointer;
    transition: color .2s;
    vertical-align: top;

    border: 0;
    border-radius: 0;
    background: rgba(30, 30, 30, .6);
    box-shadow: none;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link
{
    color: #ccc;
}

.fancybox-button:hover
{
    color: #fff;
}

.fancybox-button:focus
{
    outline: none;
}

.fancybox-button.fancybox-focus
{
    outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover
{
    color: #888;

    cursor: default;

    outline: none;
}

/* Fix IE11 */
.fancybox-button div
{
    height: 100%;
}

.fancybox-button svg
{
    position: relative;

    display: block;
    overflow: visible;

    width: 100%;
    height: 100%;

    transition: .2s linear;
}

.fancybox-button svg path
{
    fill: currentColor;
    stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2)
{
    display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1)
{
    display: none;
}

.fancybox-progress
{
    position: absolute;
    z-index: 99998;
    top: 0;
    right: 0;
    left: 0;

    height: 2px;

    transition-timing-function: linear;
    transition-property: transform;
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    -ms-transform-origin: 0;
        transform-origin: 0;

    background: #ff5268;
}

/* Close button on the top right corner of html content */

.fancybox-close-small
{
    color: #ccc;

    position: absolute;
    z-index: 401;
    top: -44px;
    right: -12px;

    padding: 8px;

    cursor: pointer;

    border: 0;
    border-radius: 0;
    background: transparent;
}

.fancybox-close-small:hover
{
    color: #fff;

    opacity: 1;
}

.fancybox-slide--html .fancybox-close-small
{
    color: #182f59;

    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    padding: 0;

    transition: .2s linear;

    opacity: 1;
    background: none;
}

.fancybox-slide--html .fancybox-close-small:hover svg
{
    transform: rotate(180deg);
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content
{
    overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small
{
    display: none;
}

/* Navigation arrows */

.fancybox-navigation .fancybox-button
{
    position: absolute;
    top: calc(50% - 50px);

    width: 70px;
    height: 100px;

    opacity: 0;
    background-clip: content-box;
}

.fancybox-navigation .fancybox-button div
{
    padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left
{
    left: 0;
    left: env(safe-area-inset-left);

    padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right
{
    right: 0;
    right: env(safe-area-inset-right);

    padding: 31px 6px 31px 26px;
}

/* Caption */

.fancybox-caption
{
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    z-index: 99996;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 75px 44px 25px 44px;

    text-align: center;
    pointer-events: none;

    background: linear-gradient(to top,
    rgba(0, 0, 0, .85) 0%,
    rgba(0, 0, 0, .3) 50%,
    rgba(0, 0, 0, .15) 65%,
    rgba(0, 0, 0, .075) 75.5%,
    rgba(0, 0, 0, .037) 82.85%,
    rgba(0, 0, 0, .019) 88%,
    rgba(0, 0, 0, 0) 100%);
}

@supports (padding: max(0px))
{
    .fancybox-caption
    {
        padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
    }
}

.fancybox-caption--separate
{
    margin-top: -50px;
}

.fancybox-caption__body
{
    overflow: auto;

    max-height: 50vh;

    pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited
{
    color: #ccc;

    text-decoration: none;
}

.fancybox-caption a:hover
{
    color: #fff;

    text-decoration: underline;
}

/* Loading indicator */

.fancybox-loading
{
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    padding: 0;

    animation: fancybox-rotate 1s linear infinite;

    opacity: .7;
    border: 4px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    background: transparent;
}

@keyframes fancybox-rotate
{
    100%
    {
        transform: rotate(360deg);
    }
}

/* Transition effects */

.fancybox-animated
{
    transition-timing-function: cubic-bezier(0, 0, .25, 1);
}

/* transitionEffect: slide */

.fancybox-fx-slide.fancybox-slide--previous
{
    transform: translate3d(-100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next
{
    transform: translate3d(100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current
{
    transform: translate3d(0, 0, 0);

    opacity: 1;
}

/* transitionEffect: fade */

.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next
{
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);

    opacity: 0;
}

.fancybox-fx-fade.fancybox-slide--current
{
    opacity: 1;
}

/* transitionEffect: zoom-in-out */

.fancybox-fx-zoom-in-out.fancybox-slide--previous
{
    transform: scale3d(1.5, 1.5, 1.5);

    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next
{
    transform: scale3d(.5, .5, .5);

    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current
{
    transform: scale3d(1, 1, 1);

    opacity: 1;
}

/* transitionEffect: rotate */

.fancybox-fx-rotate.fancybox-slide--previous
{
    -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);

    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next
{
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);

    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current
{
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);

    opacity: 1;
}

/* transitionEffect: circular */

.fancybox-fx-circular.fancybox-slide--previous
{
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next
{
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current
{
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

/* transitionEffect: tube */

.fancybox-fx-tube.fancybox-slide--previous
{
    transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next
{
    transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current
{
    transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px)
{
    .fancybox-slide
    {
        padding-right: 6px;
        padding-left: 6px;
    }

    .fancybox-slide--image
    {
        padding: 6px 0;
    }

    .fancybox-close-small
    {
        right: -6px;
    }

    .fancybox-slide--image .fancybox-close-small
    {
        color: #f2f4f6;

        top: 0;
        right: 0;

        width: 36px;
        height: 36px;
        padding: 6px;

        opacity: 1;
        background: #4e4e4e;
    }

    .fancybox-caption
    {
        padding-right: 12px;
        padding-left: 12px;
    }

    @supports (padding: max(0px))
    {
        .fancybox-caption
        {
            padding-right: max(12px, env(safe-area-inset-right));
            padding-left: max(12px, env(safe-area-inset-left));
        }
    }
}
/* Share */

.fancybox-share
{
    max-width: 90%;
    padding: 30px;

    text-align: center;

    border-radius: 3px;
    background: #f4f4f4;
}

.fancybox-share h1
{
    color: #222;
    font-size: 35px;
    font-weight: 700;

    margin: 0 0 20px 0;
}

.fancybox-share p
{
    margin: 0;
    padding: 0;
}

.fancybox-share__button
{
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;

    display: inline-block;

    min-width: 130px;
    margin: 0 5px 10px 5px;
    padding: 0 15px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .2s;
    white-space: nowrap;
    text-decoration: none;

    border: 0;
    border-radius: 3px;
}

.fancybox-share__button:visited,
.fancybox-share__button:link
{
    color: #fff;
}

.fancybox-share__button:hover
{
    text-decoration: none;
}

.fancybox-share__button--fb
{
    background: #3b5998;
}

.fancybox-share__button--fb:hover
{
    background: #344e86;
}

.fancybox-share__button--pt
{
    background: #bd081d;
}

.fancybox-share__button--pt:hover
{
    background: #aa0719;
}

.fancybox-share__button--tw
{
    background: #1da1f2;
}

.fancybox-share__button--tw:hover
{
    background: #0d95e8;
}

.fancybox-share__button svg
{
    position: relative;
    top: -1px;

    width: 25px;
    height: 25px;
    margin-right: 7px;

    vertical-align: middle;
}

.fancybox-share__button svg path
{
    fill: #fff;
}

.fancybox-share__input
{
    color: #5d5b5b;
    font-size: 14px;

    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 15px;

    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    outline: none;
    background: transparent;
}
/* Thumbs */

.fancybox-thumbs
{
    position: absolute;
    z-index: 99995;
    top: 0;
    right: 0;
    bottom: 0;

    display: none;

    width: 212px;
    margin: 0;
    padding: 2px 2px 4px 2px;

    background: #ddd;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fancybox-thumbs-x
{
    overflow-x: auto;
    overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs
{
    display: block;
}

.fancybox-show-thumbs .fancybox-inner
{
    right: 212px;
}

.fancybox-thumbs__list
{
    font-size: 0;

    position: absolute;
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}

.fancybox-thumbs-x .fancybox-thumbs__list
{
    overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar
{
    width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: #2a2a2a;
}

.fancybox-thumbs__list a
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100px;
    max-width: calc(50% - 4px);
    height: 75px;
    max-height: calc(100% - 8px);
    margin: 2px;
    padding: 0;

    cursor: pointer;

    outline: none;
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.fancybox-thumbs__list a::before
{
    position: absolute;
    z-index: 99991;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    transition: all .2s cubic-bezier(.25, .46, .45, .94);

    opacity: 0;
    border: 6px solid #ff5268;
}

.fancybox-thumbs__list a:focus::before
{
    opacity: .5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before
{
    opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px)
{
    .fancybox-thumbs
    {
        width: 110px;
    }

    .fancybox-show-thumbs .fancybox-inner
    {
        right: 110px;
    }

    .fancybox-thumbs__list a
    {
        max-width: calc(100% - 10px);
    }
}
