.irs
{
    position: relative;

    display: block;

    margin-top: 9px;
    padding-bottom: 9px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}

.irs .irs
{
    margin-top: 0;
    padding-bottom: 0;
}

.irs-line
{
    position: relative;

    display: block;

    height: 2px;

    background: #f8f8f9;
}

.irs-bar
{
    top: 0;

    height: 2px;

    background: #18214d;
}

.irs-from,
.irs-to,
.irs-single
{
    display: none !important;
}


.irs-slider
{
    z-index: 9;
    top: -9px;

    display: block;

    width: 20px;
    height: 20px;

    cursor: pointer;
    text-indent: -9999px;

    border: none;
    border-radius: 50%;
    background: #43bebc;
}

.irs-slider:hover
{
    background: #0099b3;
}


.irs-line
{
    position: relative;

    display: block;

    outline: none !important;
}
.irs-line-left,
.irs-line-mid,
.irs-line-right
{
    position: absolute;
    top: 0;

    display: block;
}
.irs-line-left
{
    left: 0;

    width: 11%;
}
.irs-line-mid
{
    left: 9%;

    width: 82%;
}
.irs-line-right
{
    right: 0;

    width: 11%;
}

.irs-bar
{
    position: absolute;
    left: 0;

    display: block;

    width: 0;
}
.irs-bar-edge
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
}

.irs-shadow
{
    position: absolute;
    left: 0;

    display: none;

    width: 0;
}

.irs-slider
{
    position: absolute;
    z-index: 1;

    display: block;
}



.irs-slider.type_last
{
    z-index: 2;
}

.irs-max,
.irs-min
{
    display: none !important;
}

.irs-min
{
    color: #696969;
    font-size: 13px;
    line-height: 14px;

    position: absolute;
    bottom: -20px;
    left: 0;

    display: block;
    visibility: visible !important;

    cursor: default;
    white-space: nowrap;
}

.irs-max
{
    color: #696969;
    font-size: 13px;
    line-height: 14px;

    position: absolute;
    right: 0;
    bottom: -20px;

    display: block;
    visibility: visible !important;

    cursor: default;
    white-space: nowrap;
}

.irs-grid
{
    color: #333;
    font: 600 11px/15px Century Gothic;

    position: absolute;
    top: -25px;
    left: 0;

    display: none;

    width: 100%;
    height: 15px;

    pointer-events: none;
}

.irs-with-grid .irs-grid
{
    display: block;
}

.irs-grid-pol
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 1px;
    height: 8px;

    background: #000;
}

.irs-grid-pol.small
{
    height: 4px;
}

.irs-grid-text
{
    position: absolute;
    bottom: 0;
    left: 0;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.irs-grid-text:before
{
    position: absolute;
    bottom: -7px;
    left: 50%;

    width: 1px;
    height: 6px;

    content: '';
    cursor: pointer;
    text-indent: -9999px;

    background: #1b364e;
}

.irs-disable-mask
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: -1%;

    display: block;

    width: 102%;
    height: 100%;

    cursor: default;

    background: rgba(0,0,0,.0);
}
.lt-ie9 .irs-disable-mask
{
    cursor: not-allowed;

    background: #000;

    filter: alpha(opacity=0);
}

.irs-disabled
{
    opacity: .4;
}


.irs-hidden-input
{
    font-size: 0 !important;
    line-height: 0 !important;

    position: absolute !important;
    z-index: -9999 !important;
    top: 0 !important;
    left: 0 !important;

    display: block !important;
    overflow: hidden;

    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;

    border-style: solid !important;
    border-color: transparent !important;
    outline: none !important;
    background: none !important;
}
