@media (max-width: 479px)
{
    /*---------------
        Main styles
    ---------------*/

    .subTitle
    {
        display: none;
    }

    .main_title
    {
        font-size: 24px;
        line-height: 24px;
    }

    .link_all
    {
        font-size: 13px;
        line-height: 21px;
    }

    .head_section.flex .link_all
    {
        margin-left: 20px;
    }


    .form .line_flex .line_form
    {
        width: 100%;
    }

    .form .line_form
    {
        margin-bottom: 30px;
    }

    .form .input
    {
        font-size: 13px;

        height: 30px;
    }

    .form textarea
    {
        font-size: 13px;

        height: 140px;
    }

    .form .submit_btn
    {
        font-size: 13px;
        line-height: 41px;

        height: 40px;
    }

    .form .agree
    {
        font-size: 12px;
        line-height: 16px;
    }

    .checkbox.agree .label_check input[type=checkbox] + .check_text
    {
        font-size: 12px;
        line-height: 16px;

        padding-left: 25px;
    }

    .checkbox.agree .label_check input[type=checkbox] + .check_text:before
    {
        width: 16px;
        height: 16px;
    }

    .checkbox.agree .label_check input[type=checkbox] + .check_text:after
    {
        top: 0;
        left: -2px;
    }


    .radio .label_check .check_text
    {
        font-size: 16px;
        line-height: 28px;
    }

    .form .rating .text
    {
        font-size: 12px;
    }


    .head_page
    {
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .page_content
    {
        padding-top: 20px;
    }

    .page_title
    {
        font-size: 20px;
        line-height: 27px;

        width: 100%;

        text-align: left;
        letter-spacing: 1px;

        order: 2;
    }

    .head_page .breadcrumbs
    {
        margin-top: 0;
    }

    .breadcrumbs
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 0;
        margin-bottom: 25px;

        order: 1;
    }


    .tabs button
    {
        font-size: 24px;
        line-height: 24px;
    }


    .modal_aside
    {
        padding: 30px 15px;
    }

    .modal_aside .main_title
    {
        margin-bottom: 30px;
    }

    .modal_aside .buttons button
    {
        margin-bottom: 30px;
    }

    .modal_aside .form .line_form
    {
        margin-bottom: 30px;
    }

    .modal_aside .forgot_btn button
    {
        font-size: 13px;
        line-height: 21px;

        padding-bottom: 0;
    }

    .form .cancel_btn
    {
        font-size: 12px;
    }


    .modal_aside .items .item
    {
        position: relative;

        padding: 15px 0;
    }

    .modal_aside .items .item .box_l
    {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 30px;
    }

    .modal_aside .items .item .box_r
    {
        width: 100%;

        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .modal_aside .items .item .top
    {
        margin-bottom: 0;
        margin-left: 0;
    }

    .modal_aside .amount .val
    {
        justify-content: flex-start;
    }

    .modal_aside .items .item .delete
    {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .modal_aside .items .item .box_price
    {
        width: auto;
    }

    .modal_aside .link_btn a
    {
        font-size: 13px;
        line-height: 40px;

        height: 40px;
    }

    .modal_aside .item .info .tags
    {
        font-size: 13px;
        line-height: 17px;
    }

    .modal_aside .item .info .name
    {
        font-size: 13px;
        line-height: 21px;
    }

    .modal_success .box
    {
        width: 260px;
        height: 260px;
        padding: 55px 25px;
    }

    .modal_success .main_title
    {
        margin-bottom: 12px;
    }

    .modal_success .info
    {
        font-size: 13px;
        line-height: 21px;
    }

    .modal_success .close
    {
        top: -8px;
    }


    .pagination
    {
        font-size: 12px;
        line-height: 17px;
    }

    .pagination .select_wrap
    {
        min-width: 48px;
        height: 30px;
        margin-right: 10px;
    }

    .pagination .select_wrap .nice-select .current
    {
        font-size: 24px;
        line-height: 28px;

        height: 30px;
        padding: 0 25px 0 10px;
    }

    .pagination .select_wrap .nice-select .current:after
    {
        right: 9px;
    }

    .pagination .select_wrap .nice-select .list{
        width: 190px;

        padding-left: 10px;
        padding-right: 10px;
    }

    .pagination .all_page
    {
        font-size: 24px;
        line-height: 24px;

        margin-left: 10px;
    }


    .text_block
    {
        font-size: 13px;
        line-height: 21px;
    }

    .text_block .head_top
    {
        font-size: 13px;
        line-height: 21px;

        padding-bottom: 14px;
    }

    .text_block h1
    {
        font-size: 20px;
        line-height: 27px;
    }

    .text_block h2
    {
        font-size: 24px;
        line-height: 24px;
    }

    .text_block h4
    {
        line-height: 22px;
    }

    .text_block h4
    {
        font-family: var(--font_family);
        font-size: 13px;
        line-height: 21px;
    }

    .text_block ol li
    {
        padding-left: 20px;
    }

    .text_block ol li:before
    {
        font-size: 13px;
        line-height: 21px;
    }

    .text_block ul li
    {
        padding-left: 16px;
    }

    .text_block ul li:before
    {
        width: 6px;
        height: 6px;
    }

    .text_block blockquote
    {
        font-size: 12px;
        line-height: 15px;

        margin-right: 15px;
        margin-left: 15px;
    }

    .text_block table thead
    {
        display: none;
    }

    .text_block table tr
    {
        position: relative;

        display: flex;

        padding: 9px 0;

        border-top: 1px solid #e8e8e8;

        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .text_block table tr:last-child
    {
        border-bottom: 1px solid #e8e8e8;
    }

    .text_block table tr td
    {
        border-bottom: none;
    }

    .text_block table tr:first-child td
    {
        border-top: none;
    }

    .text_block table tr td
    {
        font-size: 13px;
        line-height: 21px;

        display: flex;

        width: 100%;
        padding: 9px 0 9px 10px;
        padding-left: 0;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .text_block table tr td:before
    {
        color: rgba(24,33,77, .4);
        font-size: 13px;
        line-height: 21px;

        display: inline-block;

        margin-right: auto;

        content: attr(data-column);
        letter-spacing: -.266667px;
    }
    /*---------------
        Header
    ---------------*/


    /*---------------
        Main section
    ---------------*/
    .main_slider .slide
    {
        min-height: 248px;
    }

    .main_slider .numbers_slider
    {
        bottom: 0;
        left: 0;

        width: 100%;
    }

    .main_slider .logo_abs
    {
        top: 50px;
    }

    .main_slider .logo_abs img
    {
        max-width: 246px;
    }

    .main_slider .slide .name
    {
        font-size: 20px;
        line-height: 27px;

        height: 81px;
    }

    .main_slider .slide .name span:nth-child(2)
    {
        padding-left: 0;
    }

    .main_slider .slide .name span:nth-child(3)
    {
        padding-left: 0;
    }

    .main_slider .slide .box_img
    {
        width: 110px;
    }

    .main_slider .slide .link
    {
        font-size: 13px;
        line-height: 80px;

        width: 80px;
        height: 80px;
        margin-top: 25px;
        margin-right: 153px;
        margin-left: auto;
    }


    .sell_out .slider
    {
        padding-right: 7%;
    }

    .sell_out .slide
    {
        width: 100%;
    }

    .sell_out .slide.big
    {
        width: 100%;
    }

    .sell_out .slide .img
    {
        padding-bottom: 59.3%;
    }

    .sell_out .slide.big .img
    {
        padding-bottom: 59.3%;
    }

    .sell_out .slide .box
    {
        padding: 0 16px 18px;
    }

    .sell_out .slide .name
    {
        font-size: 20px;
        line-height: 24px;
    }

    .sell_out .slide .more
    {
        display: none;
    }

    .product_info
    {
        margin-top: 30px;
    }

    .product_info .slider
    {
        width: calc(100% - 80px);
    }


    .main_cats .subTitle
    {
        font-size: 13px;
        line-height: 21px;

        display: block;
    }


    .products .grid
    {
        margin-left: -10px;
    }

    .main_cats .grid
    {
        font-size: 30px;
        line-height: 44px;

        margin-top: 6px;
    }

    .products .grid .product
    {
        width: calc(50% - 10px);
        margin-left: 10px;
    }

    .products .main_grid
    {
        margin-top: -20px;
        margin-left: -10px;
        padding-bottom: 30px;
    }

    .products .main_grid .product
    {
        width: calc(50% - 10px);
        margin-left: 10px;
    }

    .products .main_grid .product.big
    {
        width: calc(50% - 10px);
    }

    .products .product .wrapp_thumb
    {
        margin-bottom: 6px;
    }

    .products .product .box_name .sub_name
    {
        font-size: 12px;
        line-height: 15px;

        margin-bottom: 4px;
    }

    .products .product .box_name .name
    {
        font-size: 13px;
        line-height: 21px;
    }

    .products .box_price .old_price
    {
        font-size: 10px;
        line-height: 14px;

        margin-bottom: 3px;
    }

    .products .box_price .price
    {
        font-size: 13px;
        line-height: 21px;
    }

    .products .box_price .rub
    {
        font-size: 10px;
    }

    .products .product .mob_cart_btn
    {
        height: 30px;
    }

    .products .product .mob_cart_btn svg
    {
        width: 14px;
        height: 14px;
    }

    .stikers
    {
        top: 5px;
        right: 5px;
    }

    .stikers > .stiker + .stiker
    {
        margin-left: 5px;
    }

    .stikers .stiker
    {
        width: 30px;
        height: 20px;
        padding: 4px;
    }

    .stikers .stiker.new{
        font-size: 10px;
    }

    .stikers .stiker.favorite_btn button
    {
        width: 30px;
        height: 20px;

        background-position: 50% 5px;
        background-size: 12px;
    }

    .stikers .stiker.favorite_btn button:before
    {
        background-size: 12px;
    }


    .products .slider
    {
        margin-top: 20px;
    }


    .advantages .items
    {
        margin-top: 0;
    }

    .advantages .item .number
    {
        font-size: 42px;
        line-height: 51px;

        top: 12px;

        width: auto;
    }

    .advantages .item .name
    {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;

        padding-left: 40px;
    }

    .advantages .item .box_desc
    {
        margin-top: 10px;
        padding-top: 0;
    }

    .advantages .item .desc
    {
        font-size: 13px;
        line-height: 21px;
    }


    .interesting .slider
    {
        margin-top: 10px;
        padding-right: 50px;
    }

    .interesting .slide .date .number
    {
        font-size: 42px;
        line-height: 51px;
    }

    .interesting .slide .date .month_year
    {
        font-size: 13px;
        line-height: 21px;

        padding-bottom: 5px;
    }

    .interesting .slide .name
    {
        font-size: 20px;
        line-height: 22px;
    }

    .interesting .slide .desc
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 10px;
    }

    .interesting .slide .more
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 20px;
        padding-right: 26px;
    }

    .interesting .slide .more .icon
    {
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }

    .interesting .slide .more .icon svg
    {
        width: 4px;
        height: 10px;
    }


    .form_section .bot{
        flex-wrap: wrap;
    }

    .form_section .bot .agree{
        width: 100%;
    }

    .form_section .bot .submit{
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
    }

    .form_section .form .submit_btn
    {
        font-size: 13px;
        line-height: 13px;

        width: 100%;
        height: 40px;

        border-radius: 0;
    }

    .form_section .form .submit_btn:before
    {
        border-radius: 0;
    }


    .categories
    {
        margin-top: 40px;
    }

    .categories .abs_img1
    {
        top: 43px;
        left: -120px;

        width: 223px;
        height: 223px;
    }

    .categories .list .item + .item
    {
        margin-top: 20px;
    }

    .categories .list .item
    {
        font-size: 30px;
        line-height: 44px;
    }


    .contacts
    {
        margin-top: 40px;
    }

    .contacts .items .item
    {
        font-size: 16px;
        line-height: 20px;

        text-align: left;
    }

    .contacts .items .item + .item
    {
        margin-top: 10px;
    }

    .contacts .box_map
    {
        height: 193px;
        margin-top: 30px;
    }


    .cart_info table tr td
    {
        font-size: 13px;

        display: flex;

        width: 100%;
        padding: 10px 0 10px 10px;
        padding-left: 0;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .cart_info table tr td:before
    {
        display: inline-block;

        width: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .cart_info table tr td.thumb
    {
        width: 80px;
    }

    .cart_info table tr td.thumb a
    {
        height: 80px;
    }

    .cart_info table tr td.thumb img
    {
        object-fit: cover;
    }

    .cart_info table tr td.info
    {
        font-size: 13px;
        line-height: 21px;

        width: calc(100% - 80px);
        padding-right: 40px;
        padding-left: 10px;
    }

    .cart_info table tr td .desc
    {
        margin-top: 8px;
    }

    .cart_info table tr td .rub
    {
        font-size: 10px;

        margin-left: 3px;
    }

    .cart_info table tr td.box_price .old_price
    {
        font-size: 10px;
        line-height: 14px;
    }

    .cart_info table tr td.box_price .old_price span:before
    {
        top: 10px;
    }

    .cart_info table tr td.box_price .old_price .rub
    {
        font-size: 8px;
    }

    .cart_info table tr td.delete
    {
        top: 10px;
    }

    .cart_info .amount .val
    {
        justify-content: flex-end;
    }

    .cart_info .promo_code
    {
        width: 100%;
        margin-top: 30px;
    }

    .promo_code .input
    {
        font-size: 13px;

        height: 26px;
        padding-bottom: 4px;
    }

    .promo_code .submit_btn
    {
        height: 26px;
    }

    .cart_info .box
    {
        max-width: 100%;
    }

    .cart_info .box .checkout_link
    {
        font-size: 13px;
        line-height: 41px;

        height: 40px;
    }


    .checkout .box_inner
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    .checkout .box_inner .top .line .title
    {
        font-size: 24px;
        line-height: 24px;
    }

    .checkout .box_inner .top .line
    {
        font-size: 16px;
        line-height: 28px;
    }

    .checkout .box_inner .top .line:first-child
    {
        line-height: 24px;
    }

    .checkout .box_orders .order
    {
        padding-right: 0;
    }

    .checkout .box_orders .order .name
    {
        font-size: 16px;
        line-height: 28px;

        padding-bottom: 22px;
    }

    .checkout .box_orders .order .pieces
    {
        font-size: 16px;
        line-height: 28px;

        bottom: -5px;;
    }

    .checkout .form .title
    {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
    }

    .checkout .item .col
    {
        width: 100%;
    }

    .checkout .item .col + .col
    {
        margin-top: 60px;
    }

    .checkout .box_btn .fast_buy_btn
    {
        font-size: 13px;
        line-height: 42px;

        height: 40px;

        border: 1px solid #0099b3;
    }

    .checkout .box_btn .desc
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 20px;
    }

    .lk_orders .top
    {
        margin-bottom: 20px;
    }

    .lk_orders .top .number
    {
        font-size: 13px;
        line-height: 16px;

        margin-left: 10px;
    }

    .lk_info table tr td
    {
        font-size: 13px;

        display: flex;

        width: 100%;
        padding: 10px 0 10px 10px;
        padding-left: 0;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .lk_info table tr td:before
    {
        display: inline-block;

        width: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .lk_info table tr td.info
    {
        font-size: 13px;
        line-height: 21px;

        width: calc(100% - 80px);
        padding-right: 40px;
        padding-left: 10px;
    }

    .lk_info table tr td .desc
    {
        margin-top: 8px;
    }

    .lk_info table tr td .rub
    {
        font-size: 10px;

        margin-left: 3px;
    }

    .lk_info table tr td.box_price .old_price
    {
        font-size: 10px;
        line-height: 21px;
    }

    .lk_info table tr td.box_price .old_price span:before
    {
        top: 10px;
    }

    .lk_info table tr td.box_price .old_price .rub
    {
        font-size: 8px;
    }

    .lk_info table tr td.delete
    {
        top: 10px;
    }

    .lk_orders .bot
    {
        margin-top: 20px;
    }

    .lk_orders .delivery
    {
        width: 100%;
        margin-bottom: 40px;
    }

    .lk_orders .delivery .name,
    .lk_orders .delivery .date
    {
        font-size: 13px;
        line-height: 21px;
    }

    .lk_orders .delivery .status
    {
        font-size: 13px;
    }

    .lk_orders .bot .box_l
    {
        width: 100%;
    }

    .lk_orders .price_flex
    {
        justify-content: flex-start;
    }

    .lk_orders .repeat_order
    {
        margin-top: 40px;
    }

    .lk_orders .repeat_order a
    {
        font-size: 13px;
        line-height: 42px;

        width: 100%;
        height: 40px;
    }


    .lk_page .discount
    {
        display: none;
    }

    .lk_page .discount.mob_discount
    {
        display: block;
    }

    .lk_page .discount span
    {
        font-size: 24px;
        line-height: 24px;
    }

    .lk_page .form .item .title
    {
        font-size: 24px;
        line-height: 24px;
    }

    .lk_page .form .box_btn button
    {
        width: 100%;
    }

    .lk_page .form .box_btn .cancelBtn,
    .lk_page .form .submit_btn
    {
        font-size: 13px;

        height: 40px;
    }

    .lk_page .form .box_btn .cancelBtn
    {
        margin-bottom: 20px;
    }

    .my_orders,
    .lk_page .form
    {
        margin-top: 0;
    }

    .my_orders table tr
    {
        padding-top: 0;
        padding-bottom: 0;
    }

    .my_orders table tr:nth-child(even) + tr
    {
        margin-top: 60px;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(2)
    {
        width: 100%;
    }

    .my_orders table tr:nth-child(even) td,
    .my_orders table tr:nth-child(even) td:nth-child(3),
    .my_orders table tr:nth-child(even) td:nth-child(4)
    {
        padding-top: 0;
    }

    .my_orders table tr:last-child
    {
        padding-bottom: 0;

        border-bottom: none;
    }

    .my_orders table tr td:before
    {
        font-size: 13px;
        line-height: 21px;

        position: relative;
        top: 0;
        left: 0;

        display: inline-block;

        width: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .my_orders table tr td
    {
        font-size: 13px;
        line-height: 21px;

        display: flex;

        width: 100%;
        margin-top: 20px;
        padding-top: 0;
        padding-left: 0;

        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .my_orders table tr td .name
    {
        width: 45%;

        text-align: right;
    }

    .my_orders table tr td.price
    {
        font-size: 13px;
        line-height: 21px;
    }

    .my_orders table tr td .rub
    {
        font-size: 9px;
        line-height: 19px;

        margin-left: 3px;
    }

    .my_orders table tr td.more
    {
        order: 10;
    }

    .my_orders table tr td.more a
    {
        font-size: 13px;
        line-height: 40px;

        width: 100%;
        height: 40px;
    }

    .my_orders table tr td.mob_delete
    {
        text-align: center;

        order: 9;
    }

    .my_orders table tr td.mob_none
    {
        display: none;
    }

    .my_orders table tr td.mob_on
    {
        display: block;

        text-align: right;
    }

    .my_orders table tr td a
    {
        color: #18214d;
        line-height: 17px;
    }


    .sort
    {
        margin-top: 30px;
    }

    .sort .select_wrap
    {
        min-width: 100%;
    }

    .sort .select_wrap .nice-select .current
    {
        font-size: 13px;
        line-height: 43px;

        height: 40px;
        padding: 0 40px 0 10px;
    }


    .news_grid
    {
        margin-bottom: 0;
        margin-left: 0;
    }

    .news_grid .item
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .news_grid .item .name
    {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }

    .news_grid .item .desc
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 6px;
    }

    .news_grid .item .date
    {
        font-size: 13px;
        line-height: 21px;

        width: auto;
        margin-bottom: 0;
    }

    .more_link
    {
        font-size: 13px;
        line-height: 20px;

        padding-right: 26px;
    }

    button.more_link{
        height: 20px;
    }

    .more_link .icon
    {
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }

    .more_link .icon svg
    {
        width: 4px;
        height: 8px;
    }


    .page_news h1
    {
        font-size: 24px;
        line-height: 24px;
    }

    .page_news .date
    {
        display: none;
    }

    .page_news h2
    {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
    }

    .page_news p
    {
        font-size: 13px;
        line-height: 21px;
    }

    .page_news blockquote
    {
        font-size: 12px;
        line-height: 15px;

        padding-top: 0;
        padding-bottom: 0;
    }

    .pag_btn a .text
    {
        font-size: 13px;
    }


    .letters
    {
        margin-top: 30px;
        margin-left: -10px;
    }

    .letters .letter
    {
        font-size: 24px;
        line-height: 50px;

        width: calc(20% - 10px);
        margin: 0;
        margin-left: 10px;
    }

    .letters .letter.big
    {
        width: calc(40% - 10px);
    }


    .brands
    {
        margin-top: 20px;
    }

    .brands .brand
    {
        font-size: 13px;
        line-height: 21px;

        width: calc(100%/2 - 10px);
        padding-top: 28px;
        padding-bottom: 28px;
    }


    .section_error
    {
        padding-top: 30px;
    }

    .section_error .abs_img
    {
        right: auto;
        left: -34px;

        margin-right: 0;
    }

    .section_error .abs_img img
    {
        width: 223px;
        height: 223px;
    }

    .section_error:before
    {
        margin-left: -662px;
    }

    .section_error:after
    {
        top: -10px;
        left: -34px;

        width: 223px;
        height: 223px;
    }

    .section_error .error_img
    {
        width: 188px;
    }

    .section_error .title
    {
        font-size: 24px;
        line-height: 24px;
    }

    .section_error .more_link
    {
        font-size: 13px;
        line-height: 21px;

        padding-right: 26px;
    }


    .filter .top
    {
        margin-top: 10px;
        margin-left: -10px;
    }

    .filter .item
    {
        width: calc(100%/2 - 10px);
        margin-left: 10px;
    }

    .filter .mini_modal
    {
        width: calc(200% + 10px);
    }

    .select_wrap .nice-select .current,
    .filter .mini_modal_link,
    .form .reset_btn
    {
        font-size: 13px;
    }

    .select_wrap .nice-select .current
    {
        line-height: 44px;

        height: 40px;
    }

    .select_wrap .nice-select .current:after
    {
        right: 12px;
    }

    .filter .mini_modal_link
    {
        height: 40px;
    }

    .filter .bot
    {
        margin-left: -10px;
    }

    .filter .selected_el
    {
        font-size: 13px;

        height: 40px;
        margin-left: 10px;
        padding: 0 45px 0 14px;
    }

    .filter .selected_el:before
    {
        right: 17px;
    }

    .filter .reset_btn
    {
        margin-left: 10px;
    }


    .information table
    {
        width: 221px;
    }

    .information table tr td
    {
        font-size: 13px;
        line-height: 21px;
    }

    .information .box_desc
    {
        font-size: 13px;
        line-height: 21px;

        letter-spacing: -.266667px;
    }


    .reviews .review
    {
        padding-right: 15px;
    }

    .reviews .desc,
    .reviews .date
    {
        font-size: 12px;
        line-height: 17px;
    }


    .reviews .review_btn
    {
        font-size: 13px;

        width: 100%;
        height: 40px;
    }


    .product_info .box_info
    {
        max-width: 250px;
    }

    .product_info .title
    {
        font-size: 24px;
        line-height: 24px;
    }

    .product_info .desc_top
    {
        font-size: 13px;
        line-height: 21px;
    }

    .product_info .items
    {
        margin-top: 0;
        margin-left: -10px;
    }

    .product_info .items .item
    {
        font-size: 13px;
        line-height: 21px;

        width: calc(33.333% - 10px);
        margin-left: 10px;
    }

    .product_info .more_link,
    .product_info .box_form
    {
        margin-top: 30px;
    }

    .product_info .share_link .more_link .icon svg
    {
        width: 10px;
        height: 10px;
    }

    .product_info .box_form .select_wrap
    {
        width: calc(100%/2 - 5px);
    }

    .product_info .select_wrap .label,
    .product_info .fast_buy_btn,
    .product_info .cart_btn
    {
        font-size: 13px;
    }

    .select_wrap.select_size .nice-select .current
    {
        font-size: 13px;

        padding-left: 55px;
    }

    .product_info .select_wrap .label
    {
        line-height: 43px;

        left: 10px;
    }

    .product_info .price_info
    {
        margin-top: 30px;
    }

    .product_info .old_price
    {
        font-size: 10px;
        line-height: 14px;

        margin-right: 10px;
    }

    .product_info .old_price .rub
    {
        font-size: 8px;
    }

    .product_info .old_price span:before
    {
        top: 8px;
    }

    .product_info .price
    {
        font-size: 20px;
        line-height: 24px;
    }

    .product_info .price .rub
    {
        font-size: 14px;

        margin-left: 4px;
    }

    .product_info .price_desc
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 10px;
    }

    .product_info .box_btn
    {
        margin-top: 30px;
    }

    .product_info .amount .input,
    .product_info .amount button
    {
        height: 40px;
    }

    .product_info .cart_btn
    {
        line-height: 40px;

        width: calc(100% - 110px);
        height: 40px;
        margin-left: 10px;
    }

    .product_info .fast_buy_btn
    {
        width: 100%;
        height: 40px;
    }

    .product_info .callBback_btn
    {
        font-size: 13px;

        width: 100%;
        height: 40px;
    }

    .product_info .favorite_btn
    {
        width: 100%;
        margin-top: 15px;
    }

    .product_info .favorite_btn button
    {
        height: 40px;

        background-size: 20px auto;
    }

    .product_info .favorite_btn button:before{
        background-size: 19px auto;
    }
    /*---------------
        Footer
    ---------------*/

    footer .info
    {
        padding: 30px 0 20px;
    }

    footer .logo img
    {
        width: 74px;
    }

    footer .links .item
    {
        font-size: 13px;
        line-height: 21px;
    }

    footer .links .item + .item
    {
        margin-top: 14px;
    }

    footer .links.big
    {
        margin-top: 12px;
    }

    footer .links.big .item
    {
        margin-top: 14px;
    }

    footer .contact
    {
        margin-top: 28px;
    }

    footer .title
    {
        font-size: 12px;
        line-height: 19px;

        margin-bottom: 6px;
    }

    footer .desc
    {
        font-size: 13px;
        line-height: 21px;

        margin-bottom: 10px;
    }

    footer .contact a
    {
        font-size: 12px;
        line-height: 19px;
    }

    footer .phone
    {
        margin-bottom: 10px;
    }

    footer .box
    {
        padding-top: 0;
        padding-bottom: 20px;
    }

    footer .bot
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 20px;
        padding: 20px 0;
    }

    footer .creator
    {
        font-size: 13px;
        line-height: 21px;

        margin-top: 20px;
    }

    footer .messengers a
    {
        font-size: 13px;
        line-height: 21px;
    }

    /*---------------
       PopUp
    ---------------*/

    .modal
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    .modal .modal_title
    {
        font-size: 24px;
        line-height: 24px;

        margin-bottom: 30px;
    }

    .modal.modal_success2 .modal_title
    {
        margin-bottom: 13px;
    }

    .modal .desc
    {
        font-size: 13px;
        line-height: 21px;
    }

    .fancybox-slide--html .fancybox-close-small
    {
        top: 5px;
        right: 5px;
    }

    .modal.modal_success2
    {
        width: 260px;
    }

    .modal.modal_success2 .bg
    {
        height: 260px;
        padding: 70px 35px;
        padding: 35px;
    }

    .modal.modal_success2 + .fancybox-close-small
    {
        top: -10px;
    }

    .modal_review .form .line_form
    {
        margin-bottom: 30px;
    }

    .modal_review .box_btn
    {
        margin-top: 40px;
    }

    .modal_review .box_btn button
    {
        font-size: 13px;

        width: 100%;
    }

    .modal_review .cancel_btn
    {
        height: 40px;
        margin-top: 20px;
    }
}
