@media (max-width: 1199px)
{
    /*---------------
        Main styles
    ---------------*/

    /*---------------
        Header
    ---------------*/
    header .cats .list_inner
    {
        width: calc(50% - 30px);
    }

    header .cats .sub_menu .img
    {
        width: 50%;
    }
    /*---------------
        Main section
    ---------------*/
    .main_slider .logo_abs:after
    {
        top: 100px;
        left: -54px;
    }

    .main_slider .logo_abs img
    {
        max-width: 500px;
    }

    .main_slider .slide .box_img
    {
        right: 15px;

        margin-left: auto;
    }

    .main_slider .slide .name
    {
        padding-left: 120px;
    }

    .main_slider .slide .link
    {
        margin-left: 410px;
    }


    .big_stick
    {
        margin-right: -90px;
    }


    .sell_out .big_stick
    {
        right: 230px;
    }

    .sell_out .slide
    {
        width: 340px;
    }

    .sell_out .slide.big
    {
        width: 520px;
    }

    .sell_out .slide .box
    {
        padding-right: 20px;
        padding-left: 20px;
    }


    .owl-carousel .owl-nav button.owl-prev
    {
        right: 206px;
        left: auto;

        margin-left: 0;
    }

    .owl-carousel .owl-nav button.owl-next
    {
        right: 136px;
        left: auto;

        margin-left: 0;
    }


    .main_cats,
    .products.marg_top,
    .advantages,
    .interesting,
    .form_section
    {
        margin-top: 100px;
    }

    .products .grid
    {
        margin-left: -20px;
    }

    .products .grid .product
    {
        width: calc(25% - 20px);
        margin: 0 0 80px 20px;
    }

    .products .product .callBback_btn
    {
        width: 180px;
        height: 180px;
        margin-left: -90px;
    }

    .products .product .fast_buy_btn
    {
        font-size: 16px;

        bottom: 70px;

        width: 130px;
        height: 130px;
    }

    .products .product .wrapp_thumb .cart_btn
    {
        width: 60px;
        height: 60px;
    }


    .stikers
    {
        top: 10px;
        right: 10px;
    }

    .stikers .stiker
    {
        width: 45px;
        height: 30px;
    }

    .stikers .stiker.new{
        font-size: 14px;
    }

    .stikers .stiker.favorite_btn button
    {
        width: 45px;
        height: 30px;

        background-position: 50% 7px;
        background-size: 20px;
    }

    .stikers .stiker.favorite_btn button:before
    {
        background-size: 20px;
    }


    .advantages .items .item
    {
        padding-left: 90px;
    }

    .advantages .item .name
    {
        font-size: 36px;
        line-height: 36px;

        width: 330px;
    }

    .advantages .item .box_desc
    {
        width: calc(100% - 380px);
    }


    .interesting .slider
    {
        padding-right: 230px;
    }

    .interesting .slide .name
    {
        font-size: 32px;
        line-height: 36px;
    }


    .categories:before
    {
        height: calc(100% + 200px);
    }

    .categories .list .item
    {
        font-size: 56px;
        line-height: 74px;
    }


    .contacts .abs_img3
    {
        right: 15px;
        left: auto;

        margin-left: 0;
    }

    .contacts .box_map
    {
        width: 900px;
        height: 900px;
    }


    .cart_info table tr td
    {
        font-size: 16px;
        line-height: 20px;
    }

    .cart_info table tr td.thumb
    {
        width: 90px;
    }

    .cart_info table tr td.thumb a
    {
        height: 90px;
    }

    .cart_info table tr td.info
    {
        font-size: 18px;
        line-height: 22px;
    }

    .cart_info table tr td .name
    {
        max-width: 200px;
    }

    .cart_info table tr td.box_price .old_price
    {
        font-size: 14px;
        line-height: 21px;
    }

    .cart_info table tr td.box_price .old_price .rub
    {
        font-size: 12px;
        line-height: 21px;
    }

    .cart_info table tr td.box_price .old_price span:before
    {
        top: 11px;
    }


    .checkout .form
    {
        width: calc(100% - 410px);
    }

    .checkout .form .title
    {
        font-size: 36px;
        line-height: 36px;
    }

    .checkout .item .col + .col
    {
        margin-left: 140px;
    }

    .checkout .box_l
    {
        width: 380px;
    }

    .checkout .box_inner
    {
        padding: 25px;
    }

    .checkout .box_inner .top .line .title
    {
        font-size: 34px;
        line-height: 34px;
    }


    .lk_info table tr td.info
    {
        padding-left: 20px;
    }


    .my_orders table tr th
    {
        font-size: 16px;
        line-height: 21px;

        padding-left: 20px;
    }

    .my_orders table tr td
    {
        font-size: 16px;
        line-height: 21px;

        padding-left: 20px;
    }

    .my_orders table tr:nth-child(odd) td
    {
        padding-bottom: 15px;
    }

    .my_orders table tr:nth-child(even) td
    {
        padding-top: 15px;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(2)
    {
        padding-left: 0;
    }

    .my_orders table tr td.price
    {
        font-size: 18px;
    }

    .my_orders table tr td.more a
    {
        width: 180px;
    }


    .news_grid .item .name
    {
        font-size: 32px;
        line-height: 32px;
    }

    .page_news
    {
        margin-right: auto;
        margin-left: auto;
    }

    .pag_btn a .name
    {
        font-size: 36px;
        line-height: 36px;
    }


    .brands .brand
    {
        width: calc(100%/4 - 30px);
    }

    .letters .letter
    {
        margin: 0 17px;
    }


    .filter .top
    {
        margin-left: -20px;
    }

    .filter .item
    {
        width: calc(100%/5 - 20px);
        margin: 20px 0 0 20px;
    }

    .filter .item:nth-child(6n) .mini_modal
    {
        right: auto;
        left: 0;
    }

    .filter .item:nth-child(5n) .mini_modal
    {
        right: 0;
        left: auto;
    }

    .filter .bot
    {
        margin-left: -20px;
    }

    .filter .selected_el
    {
        margin: 20px 0 0 20px;
    }

    .filter .reset_btn
    {
        margin: 20px 0 0 20px;
    }


    .information .box_desc
    {
        width: calc(100% - 345px);
        margin-left: 100px;
    }
    /*---------------
        Footer
    ---------------*/

    footer .contact
    {
        width: 250px;
    }

    footer .messengers a + a
    {
        margin-left: 52px;
    }

    /*---------------
       PopUp
    ---------------*/

    .modal
    {
        padding-right: 70px;
        padding-left: 70px;
    }
}
