@media (max-width: 767px)
{
    /*---------------
        Main styles
    ---------------*/

    .main_title
    {
        font-size: 38px;
        line-height: 38px;
    }

    .subTitle
    {
        font-size: 16px;
    }


    .form .input
    {
        font-size: 16px;

        padding-bottom: 0;
    }

    .form textarea
    {
        font-size: 16px;

        padding: 10px;
    }

    .form .line_form
    {
        margin-bottom: 30px;
    }

    .form .submit_btn
    {
        font-size: 16px;
    }


    .page_title
    {
        font-size: 36px;
        line-height: 42px;
    }

    .head_page .breadcrumbs
    {
        margin-top: 10px;
    }

    .tabs
    {
        overflow-x: auto;
    }

    .tabs button
    {
        font-size: 28px;
        line-height: 28px;

        padding-bottom: 10px;

        white-space: nowrap;
    }

    .tabs button + button
    {
        margin-left: 50px;
    }

    .modal_aside
    {
        padding: 50px 40px 30px;
    }

    .modal_aside .close
    {
        top: 15px;
        right: 15px;
    }

    .modal_success .box
    {
        width: 450px;
        height: 450px;
    }

    .modal_success .close
    {
        top: 0;
        right: 0;
    }


    .modal_aside .item .info
    {
        padding-left: 15px;
    }


    .pagination .box .page
    {
        display: none;
    }

    .pagination a
    {
        width: 18px;
        height: 18px;

        border-bottom: none;
    }

    .pagination a span
    {
        display: none;
    }

    .pagination a.disabled:before
    {
        display: block;
    }

    .pagination a.disabled
    {
        visibility: visible;

        opacity: 1;
    }

    .pagination a:after
    {
        display: block;
    }

    .pagination a.disabled:after
    {
        display: none;
    }

    .pagination .select_wrap
    {
        margin-left: 0;
    }


    .text_block
    {
        font-size: 16px;
    }

    .text_block .head_top
    {
        font-size: 16px;
    }

    .text_block * + .head_top
    {
        margin-top: 50px;
    }

    .text_block h1
    {
        font-size: 36px;
        line-height: 42px;

        margin-bottom: 10px;
    }

    .text_block h2
    {
        font-size: 34px;
        line-height: 34px;

        margin-bottom: 10px;
    }

    .text_block * + h3,
    .text_block * + h4
    {
        margin-bottom: 10px;
    }

    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + ul
    {
        margin-top: 30px;
    }

    .text_block p,
    .text_block ul,
    .text_block ol
    {
        line-height: 24px;
    }

    .text_block ol li:before
    {
        font-size: 16px;
        line-height: 24px;
    }

    .text_block ul li:before
    {
        width: 8px;
        height: 8px;
    }

    .text_block ul li + li,
    .text_block ol li + li
    {
        margin-top: 16px;
    }

    .text_block blockquote
    {
        font-size: 20px;
        line-height: 24px;

        padding: 0 0 0 20px;
    }

    .text_block blockquote br
    {
        display: none;
    }


    .text_block table tr th
    {
        font-size: 14px;
        line-height: 21px;

        padding-bottom: 14px;
    }

    .text_block table tr td
    {
        font-size: 14px;
        line-height: 21px;

        padding-top: 15px;
        padding-bottom: 15px;
    }


    .text_block .grid_img
    {
        margin-left: -10px;
    }

    .text_block .grid_img .item_img
    {
        width: calc(50% - 10px);
        margin: 20px 0 0 10px;
    }

    .text_block .grid_img .item_img.middle
    {
        width: calc(33.333% - 10px);
    }

    .text_block .grid_img .item_img.small
    {
        width: calc(25% - 10px);
    }


    .slider_img .slide{
        padding-bottom: 66%;
    }

    .slider_img.owl-carousel .owl-nav button{
        width: 30px;
        height: 30px;
    }

    .slider_img.owl-carousel .owl-nav button.owl-prev{
        left: 10px;
    }

    .slider_img.owl-carousel .owl-nav button.owl-next{
        right: 10px;
    }
    /*---------------
        Header
    ---------------*/


    /*---------------
        Main section
    ---------------*/
    .main_slider
    {
        margin-top: 20px;
    }

    .main_slider .slide
    {
        min-height: 350px;
        padding: 0 0 62px;
    }

    .main_slider .numbers_slider
    {
        font-size: 24px;

        bottom: 0;
        left: 0;

        width: 100%;
    }

    .main_slider .owl-carousel .owl-nav button.owl-prev
    {
        right: 50%;
        bottom: 4px;
        left: auto;

        margin-right: 29px;
    }

    .main_slider .owl-carousel .owl-nav button.owl-next
    {
        right: auto;
        bottom: 4px;
        left: 50%;

        margin-right: 0;
        margin-left: 29px;
    }

    .main_slider .logo_abs:after
    {
        display: none;
    }

    .main_slider .logo_abs
    {
        top: 50px;
    }

    .main_slider .logo_abs img
    {
        max-width: 320px;
    }

    .main_slider .slide .name
    {
        font-size: 30px;
        line-height: 34px;

        height: 102px;
        padding-left: 0;
    }

    .main_slider .slide .name span:nth-child(2)
    {
        padding-left: 40px;
    }

    .main_slider .slide .name span:nth-child(3)
    {
        padding-left: 80px;
    }

    .main_slider .slide .box_img
    {
        width: 180px;
    }

    .main_slider .slide .link
    {
        font-size: 16px;
        line-height: 100px;

        width: 100px;
        height: 100px;
        margin-top: 40px;
        margin-right: 230px;
        margin-left: auto;
    }

    .wheelSlider-container.loaded .slide:not(.now)
    {
        transform: scale(.52);
    }

    .main_cats,
    .products.marg_top,
    .advantages,
    .interesting,
    .form_section,
    footer
    {
        margin-top: 60px;
    }

    .main_cats .grid
    {
        font-size: 38px;
        line-height: 52px;
    }


    .products
    {
        margin-top: 30px;
    }

    .products .grid .product
    {
        width: calc(50% - 20px);
        margin: 0 0 40px 20px;
    }

    .products .main_grid
    {
        margin-top: 0;
        margin-left: -20px;
        padding-bottom: 30px;
    }

    .products .main_grid .product
    {
        width: calc(50% - 20px);
        margin: 40px 0 0 20px;
    }

    .products .main_grid .product.big
    {
        width: calc(50% - 20px);
    }

    .products .main_grid .product.big .thumb
    {
        padding-bottom: calc(134% - 2px);
    }

    .products .main_grid .product:nth-child(3n-1),
    .products .main_grid .product:nth-child(3n)
    {
        top: 0;
    }

    .products .product .box_name
    {
        width: 100%;
    }

    .products .box_price
    {
        width: 100%;
        height: auto;
        margin-top: 5px;
        padding-left: 0;

        justify-content: flex-start;
    }

    .products .box_price .old_price
    {
        margin-right: 10px;
    }

    .products .box_price .price
    {
        width: auto;
    }

    .big_stick
    {
        display: none;
    }


    .interesting .slider
    {
        padding-right: 150px;
    }


    .form_section .form
    {
        margin-top: 30px;
    }

    .form_section .bot .agree{
        margin-top: 0;
    }

    .form_section .submit
    {
        margin-top: 0;
    }

    .form_section .form .submit_btn
    {
        font-size: 16px;

        width: 120px;
        height: 120px;
    }


    .categories:before
    {
        height: calc(100% + 100px);
    }

    .categories .abs_img1
    {
        width: 350px;
        height: 350px;
    }

    .categories .abs_img2,
    .categories .abs_img3
    {
        display: none;
    }

    .categories .list .item
    {
        font-size: 36px;
        line-height: 48px;
    }

    .categories .list .item + .item
    {
        margin-top: 40px;
    }

    .categories .list .item a span
    {
        display: none;
    }


    .contacts .abs_img1,
    .contacts .abs_img2,
    .contacts .abs_img3
    {
        display: none;
    }

    .contacts .items .item
    {
        font-size: 18px;
        line-height: 22px;
    }

    .contacts .box_map
    {
        width: 100%;
        height: 400px;
        margin-top: 40px;

        border-radius: 0;
    }


    .cart_info table tr td
    {
        width: 33.333%;
    }

    .cart_info table tr td:nth-child(6)
    {
        padding-left: 0;
    }

    .cart_info table tr td.info
    {
        font-size: 16px;
        line-height: 20px;
    }

    .cart_info table tr td .rub
    {
        font-size: 12px;
    }

    .cart_info table tr td.delete
    {
        width: 30px;
    }

    .cart_info table tr td.delete a
    {
        width: 30px;
        height: 30px;
    }

    .cart_info table tr td.delete img
    {
        width: 12px;
        height: 12px;
    }

    .amount .input
    {
        font-size: 14px;
    }


    .cart_info .cart_box
    {
        width: 100%;
    }

    .cart_info .cart_box .top
    {
        padding-top: 0;
    }

    .cart_info .promo_code
    {
        margin-top: 40px;
    }

    .cart_info .promo_code .input
    {
        font-size: 16px;
    }

    .cart_info .box
    {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
    }

    .cart_info .box .desc
    {
        display: none;
    }

    .cart_info .box .checkout_link
    {
        font-size: 16px;
    }


    .checkout
    {
        margin-top: 40px;
    }

    .checkout .box_l
    {
        position: relative;

        width: 100%;

        order: 1;
    }

    .checkout .form
    {
        width: 100%;
        margin-top: 60px;

        order: 2;
    }

    .checkout .line_form.small
    {
        max-width: 100%;
    }

    .checkout .box_btn .submit,
    .checkout .form .submit_btn,
    .checkout .box_btn .fast_buy_btn
    {
        width: 100%;
    }


    .lk_info table thead
    {
        display: none;
    }

    .lk_info table tr
    {
        position: relative;

        display: flex;

        border-top: 1px solid #e8e8e8;

        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .lk_info table tr:last-child
    {
        border-bottom: 1px solid #e8e8e8;
    }

    .lk_info table tr td
    {
        width: 50%;
        padding: 15px 0 15px 15px;

        border-bottom: none;
    }

    .lk_info table tr td:nth-child(5),
    .lk_info table tr td:nth-child(3)
    {
        padding-left: 0;
    }

    .lk_info table tr:first-child td
    {
        border-top: none;
    }

    .lk_info table tr td:before
    {
        color: rgba(24,33,77, .4);
        font-size: 13px;

        display: block;

        width: 100%;
        margin-bottom: 6px;

        content: attr(data-column);
        letter-spacing: -.266667px;
    }

    .lk_info table tr td.info
    {
        line-height: 20px;

        width: calc(100% - 90px);
        padding-right: 50px;
    }

    .lk_info table tr td .name
    {
        max-width: 100%;
    }

    .lk_info table tr td.box_price
    {
        display: flex;

        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .lk_info table tr td.box_price .old_price
    {
        line-height: 22px;

        margin-right: 10px;
        margin-bottom: 0;
    }

    .lk_info table tr td.box_price .old_price span:before
    {
        top: 11px;
    }

    .lk_info table tr td.delete
    {
        position: absolute;
        top: 15px;
        right: 0;

        padding: 0;
    }

    .lk_info table tr td.thumb:before,
    .lk_info table tr td.info:before,
    .lk_info table tr td.delete:before
    {
        display: none;
    }

    .lk_info table tr td .rub
    {
        font-size: 12px;
    }

    .lk_info table tr td.delete
    {
        width: 30px;
    }

    .lk_info table tr td.delete a
    {
        width: 30px;
        height: 30px;
    }

    .lk_orders
    {
        margin-top: 30px;
    }

    .lk_orders .delivery
    {
        width: calc(50% - 10px);
    }

    .lk_orders .delivery .name,
    .lk_orders .delivery .date
    {
        font-size: 14px;
        line-height: 22px;

        margin-bottom: 10px;
    }

    .lk_orders .bot .box_l
    {
        width: calc(50% - 15px);
    }

    .lk_orders .repeat_order
    {
        width: 100%;
    }

    .lk_orders .repeat_order a
    {
        font-size: 16px;
        line-height: 45px;

        width: 200px;
        height: 45px;
        margin-left: auto;
    }


    .lk_page .discount
    {
        font-size: 16px;
        line-height: 21px;
    }

    .lk_page .discount span
    {
        font-size: 32px;
        line-height: 32px;
    }


    .lk_page .form .line_form
    {
        margin-bottom: 30px;
    }

    .lk_page .form .item + .item
    {
        margin-top: 20px;
    }

    .lk_page .form .item .title
    {
        font-size: 34px;
        line-height: 34px;

        margin-bottom: 25px;
    }

    .lk_page .form .box_btn
    {
        max-width: 100%;
        padding-bottom: 30px;
    }

    .lk_page .form .box_btn .cancelBtn,
    .lk_page .form .submit_btn
    {
        font-size: 16px;

        height: 45px;
    }


    .my_orders table tr td.delete
    {
        display: none;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(2)
    {
        width: 50%;
        padding-left: 0;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(2):before
    {
        left: 0;
    }

    .my_orders table tr td
    {
        width: 50%;
    }

    .my_orders table tr:nth-child(odd) td:last-child
    {
        padding-left: 0;
    }

    .my_orders table tr:nth-child(odd) td:last-child:before
    {
        left: 0;
    }

    .my_orders table tr:nth-child(even) td:nth-child(3)
    {
        padding-top: 25px;
        padding-left: 0;
    }

    .my_orders table tr:nth-child(even) td:nth-child(4)
    {
        padding-top: 25px;
        padding-left: 20px;
    }

    .my_orders table tr td.more a
    {
        width: 200px;
        margin-left: 0;
    }

    .my_orders table tr td.mob_delete
    {
        display: block;

        order: 6;
    }


    .news_grid
    {
        margin-left: -20px;
    }

    .news_grid .item
    {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
    }

    .news_grid .item .name
    {
        font-size: 28px;
        line-height: 30px;

        margin-top: 10px;
    }

    .news_grid .item .desc
    {
        font-size: 16px;
        line-height: 22px;
    }

    .news_grid .item .date
    {
        font-size: 15px;

        width: 100%;
        margin-bottom: 10px;
    }

    .more_link
    {
        font-size: 16px;
        line-height: 30px;

        padding-right: 40px;
    }

    button.more_link{
        height: 30px;
    }

    .more_link .icon
    {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .more_link .icon svg
    {
        width: 6px;
        height: 10px;
    }

    .news_link_all
    {
        display: block;
    }

    .pagination.pagination_off
    {
        display: none;
    }


    .page_news
    {
        margin-top: 30px;
    }

    .page_news h1
    {
        font-size: 36px;
        line-height: 42px;

        margin-bottom: 20px;
    }

    .page_news .date
    {
        margin-bottom: 20px;
    }

    .page_news img
    {
        margin-bottom: 20px;
    }

    .page_news h2
    {
        font-size: 32px;
        line-height: 32px;
    }

    .page_news p
    {
        font-size: 16px;
        line-height: 27px;
    }

    .page_news blockquote
    {
        font-size: 20px;

        margin-right: 15px;
        margin-bottom: 30px;
        margin-left: 15px;
        padding-left: 20px;
    }

    .page_news p + img
    {
        margin-top: 40px;
    }

    .pag_btn
    {
        margin-top: 40px;
    }

    .pag_btn .img,
    .pag_btn a .name
    {
        display: none;
    }

    .pag_btn a .text
    {
        font-size: 16px;
    }


    .letters
    {
        justify-content: flex-start;
    }

    .letters .letter
    {
        font-size: 24px;
        line-height: 50px;

        width: 12.5%;
        margin: 0;
    }

    .letters .letter.big
    {
        width: 25%;

        letter-spacing: 18.73px;
    }

    .brands
    {
        margin-left: -10px;
    }

    .brands .brand
    {
        width: calc(100%/3 - 10px);
        margin: 10px 0 0 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .section_error
    {
        padding-bottom: 50px;
    }

    .section_error .abs_img
    {
        top: 0;

        margin-right: 34px;
    }

    .section_error .abs_img img
    {
        width: 300px;
        height: 300px;
    }

    .section_error:before
    {
        margin-left: -570px;
    }

    .section_error:after
    {
        top: 0;
        right: auto;
        left: -55px;

        width: 280px;
        height: 280px;
        margin-right: 0;
    }

    .section_error .error_img
    {
        width: 280px;
    }

    .section_error .title
    {
        font-size: 28px;
        line-height: 28px;
    }

    .section_error .desc
    {
        font-size: 16px;
        line-height: 28px;

        margin-top: 10px;
    }

    .section_error .link
    {
        margin-top: 30px;
    }

    .section_error .link + .link
    {
        margin-top: 20px;
    }

    .section_error .more_link
    {
        min-width: auto;
    }


    .filter
    {
        margin-top: 0;
    }

    .filter .bot
    {
        margin-top: 10px;
    }
    .filter .item
    {
        width: calc(100%/2 - 20px);
    }

    .filter .item:first-child
    {
        width: 100%;
    }

    .filter .item:nth-child(4n) .mini_modal
    {
        right: auto;
        left: 0;
    }

    .filter .item:nth-child(2n + 1) .mini_modal
    {
        right: 0;
        left: auto;
    }

    .filter .item:first-child .mini_modal
    {
        width: 100%;
    }

    .filter .mini_modal
    {
        width: calc(200% + 20px);
    }


    .head_page .discount_up
    {
        display: none;
    }


    .information
    {
        margin-top: 60px;
    }

    .information .box_flex
    {
        margin-top: 30px;
    }

    .information table
    {
        width: 280px;
    }

    .information table tr td
    {
        font-size: 16px;
        line-height: 24px;

        padding-bottom: 16px;
    }


    .reviews .slider
    {
        display: block;
    }

    .reviews .review:nth-child(n+3)
    {
        display: none;
    }

    .reviews .review
    {
        margin-bottom: 20px;
    }

    .reviews .desc
    {
        max-width: 100%;
    }

    .reviews .link_all
    {
        display: block;
    }

    .reviews .review_btn
    {
        margin-right: auto;
        margin-left: auto;
    }

    .product_info .box_info
    {
        margin-top: 30px;
    }

    .product_info .title
    {
        font-size: 38px;
        line-height: 38px;
    }

    .product_info .desc_top
    {
        font-size: 16px;
        line-height: 24px;
    }

    .product_info .items
    {
        margin-top: 10px;
    }

    .product_info .items .item
    {
        font-size: 16px;
        line-height: 24px;
    }

    .product_info .more_link,
    .product_info .box_form
    {
        margin-top: 40px;
    }

    .product_info .box_form .select_wrap
    {
        width: calc(100%/2 - 10px);
    }

    .product_info .price
    {
        font-size: 28px;
        line-height: 34px;
    }

    .product_info .box_btn
    {
        max-width: 410px;
        margin: 40px auto 0;
    }

    .product_info .cart_btn
    {
        width: calc(100% - 120px);
        margin-bottom: 15px;
    }

    .product_info .fast_buy_btn
    {
        width: calc(50% - 10px);
        margin-left: 0;
    }

    .product_info .callBback_btn
    {
        width: calc(50% - 10px);
    }

    .product_info .favorite_btn
    {
        width: calc(50% - 10px);
        margin-left: auto;
    }

    .product_info .favorite_btn button
    {
        width: 100%;

        border-radius: 0;
    }


    .share_link .mini_modal{
        width: 64px;
        left: 78px;
    }

    .share_link .messengers a{
        line-height: normal;
    }

    .share_link .messengers a .icon{
        margin-right: 0;
    }

    .share_link .messengers a .name{
        display: none;
    }
    /*---------------
        Footer
    ---------------*/

    footer .logo
    {
        width: 100%;
        margin-bottom: 40px;
    }

    footer .info
    {
        justify-content: space-between;
    }

    footer .links
    {
        width: calc(50% - 20px);
    }

    footer .links.big
    {
        display: flex;

        width: 100%;
        margin-top: 8px;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    footer .links.big .item
    {
        width: calc(50% - 20px);
        margin-top: 20px;
    }

    footer .box
    {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    footer .creator
    {
        width: 100%;
        margin-top: 30px;

        order: 3;
    }

    footer .messengers
    {
        width: 100%;
        margin-left: -20px;

        order: 1;
    }

    footer .messengers a
    {
        margin-top: 20px;
        margin-left: 20px;
    }

    footer .messengers a + a
    {
        margin-left: 20px;
    }

    footer .messengers a .icon
    {
        margin-right: 5px;
    }

    footer .bot
    {
        border-bottom: 1px solid rgba(24,33,77, .05);

        order: 2;
    }

    /*---------------
       PopUp
    ---------------*/

    .modal
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .modal .modal_title
    {
        font-size: 38px;
        line-height: 38px;
    }

    .modal .form .line_flex .line_form,
    .modal .form .submit,
    .modal_fast_buy .form .line_form.line_form_buy
    {
        width: 100%;
    }

    .modal.modal_success2
    {
        width: 450px;
    }

    .modal.modal_success2 .bg
    {
        height: 450px;
        padding: 70px 35px;
    }

    .modal_review .box_btn button
    {
        font-size: 16px;
    }
}
