@media (max-width: 1024px)
{
    /*---------------
        Main styles
    ---------------*/
    body.lock_menu
    {
        overflow: hidden;
    }

    .main_title
    {
        font-size: 48px;
        line-height: 48px;
    }

    .form_section .form .submit_btn:hover
    {
        transform: none;
    }

    .head_page .abs_title
    {
        display: none;
    }

    .head_page .line_abs
    {
        display: none;
    }

    .page_content
    {
        padding-top: 10px;
    }

    .page_title
    {
        font-size: 54px;
        line-height: 65px;
    }


    .tabs button
    {
        font-size: 36px;
        line-height: 36px;

        padding-bottom: 15px;
    }

    .tabs button + button
    {
        margin-left: 60px;
    }


    .text_block .head_top
    {
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .text_block * + .head_top
    {
        margin-top: 70px;
    }

    .text_block h1
    {
        font-size: 54px;
        line-height: 65px;
    }

    .text_block h2
    {
        font-size: 48px;
        line-height: 48px;
    }

    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4,
    .text_block * + ul
    {
        margin-top: 40px;
    }

    .text_block table tr th
    {
        font-size: 16px;
        line-height: 22px;
    }

    .text_block table tr td
    {
        font-size: 16px;
        line-height: 22px;

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text_block .table_wrap
    {
        overflow-x: auto;

        padding-bottom: 9px;
    }

    .text_block .table_wrap::-webkit-scrollbar
    {
        width: 10px;
        height: 3px;

        border-radius: 0;
        background-color: #e8e8e8;

        -webkit-appearance: none;
    }
    .text_block .table_wrap::-webkit-scrollbar-thumb
    {
        border-radius: 0;
        background-color: #18214d;
    }

    .text_block .grid_img
    {
        margin-left: -20px;
    }

    .text_block .grid_img .item_img
    {
        width: calc(50% - 20px);
        margin: 30px 0 0 20px;
    }

    .text_block .grid_img .item_img.middle
    {
        width: calc(33.333% - 20px);
    }

    .text_block .grid_img .item_img.small
    {
        width: calc(25% - 20px);
    }

    /*---------------
        Header
    ---------------*/
    .mob_header
    {
        display: flex;

        margin-bottom: 20px;
    }


    header
    {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;

        display: none;
        overflow-y: auto;

        width: 100%;
        height: 100%;
        padding: 83px 0 30px;

        background: #fff;
    }

    header .title_head
    {
        display: block;

        margin-bottom: 30px;
    }

    header .top .logo
    {
        display: none;
    }

    header .top .col
    {
        width: 100%;
    }

    header .top .col .top_line
    {
        display: none;
    }

    header .top .col_r
    {
        display: none;
    }

    header .bot_line
    {
        padding: 0;
    }

    header .search
    {
        width: 100%;
        margin: 0 0 30px;
    }

    header .my_office.mob
    {
        display: block;

        width: 100%;
        margin: 20px 0 0;

        order: 3;
    }

    header .my_office button
    {
        font-weight: 300;

        width: 100%;
        height: 29px;

        text-align: left;
    }

    header .cats_head
    {
        width: 100%;

        order: 2;
    }

    header .open_cats
    {
        font-weight: 300;
        line-height: 29px;

        transition: none;
    }

    header .cats
    {
        display: none;
        visibility: visible !important;

        min-height: 1px;
        padding: 0;

        pointer-events: all !important;

        opacity: 1 !important;
    }

    header .cats.show
    {
        position: relative;
        top: 0;
        left: 0;

        display: block;
    }

    header .cats:after
    {
        display: none;
    }

    header .cats .cont
    {
        padding: 0;
    }

    header .cats .list
    {
        width: 100%;
        padding: 0;
    }

    header .cats .list .item + .item
    {
        margin-top: 20px;
    }

    header .cats .list .item > a
    {
        font-family: var(--font_family2);
        font-size: 30px;
        line-height: 44px;

        transition: none;
        text-align: center;
    }

    header .cats .list .item > a.sub_link
    {
        padding: 0;
    }

    header .cats .list .item > a.sub_link:before
    {
        display: none;
    }

    header .cats .list .item > a.sub_link.active
    {
        color: #18214d;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;

        text-align: left;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    header .cats .list .item > a.sub_link.active:hover
    {
        color: #18214d;
    }

    header .cats .sub_menu
    {
        position: relative;
        top: 0;
        left: 0;

        display: none;
        visibility: visible !important;

        width: 100%;
        padding: 0;

        pointer-events: all !important;

        opacity: 1 !important;
    }

    header .cats .sub_menu:before
    {
        display: none;
    }

    header .cats .sub_menu.show
    {
        display: block;
    }

    header .cats .list_inner
    {
        width: 100%;
        padding-top: 28px;
    }

    header .cats .list_inner div + div
    {
        margin-top: 20px;
    }

    header .cats .list_inner a
    {
        line-height: 29px;

        display: block;

        transition: none;
    }

    header .cats .sub_menu .img
    {
        display: none;
    }

    header .info
    {
        margin-top: 20px;
        padding: 0;

        border: none;
    }

    header .menu .item:first-child
    {
        margin: 0;
    }

    header .menu .item
    {
        width: 100%;
    }

    header .menu .item + .item
    {
        margin: 20px 0 0;
    }

    header .menu .item.mob
    {
        display: block;
    }

    header .menu .item a:after
    {
        display: none;
    }

    header .links.mob
    {
        display: block;

        margin-top: 30px;
    }

    header .callback_btn
    {
        font-size: 18px;
        line-height: 29px;

        width: 100%;

        text-align: left;
    }

    header .callback_btn:after
    {
        display: none;
    }

    header .links a:after
    {
        display: none;
    }

    header .links div + div
    {
        margin: 20px 0 0;
    }

    header .links a
    {
        line-height: 29px;
    }


    header .open_cats.active
    {
        color: #18214d;
        font-family: var(--font_family2);
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;

        margin-bottom: 30px;

        letter-spacing: 1px;
        text-transform: uppercase;
    }

    header .cats_head:hover .open_cats.active,
    header .open_cats.active:hover
    {
        color: #18214d;
    }

    header .cats .list
    {
        position: relative;
    }


    header .title_head.hide,
    header .search.hide,
    header .my_office.mob.hide,
    header .info.hide,
    header .links.mob.hide,
    header .open_cats.active.hide,
    header .cats .list .item.hide
    {
        display: none;
    }

    header .cats .list .item.active
    {
        display: block;
    }

    header .cats .bg
    {
        overflow: hidden;

        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 0 15px;
    }

    header .cats .bg:before
    {
        position: absolute;
        top: 45px;
        right: 50%;

        width: 223px;
        height: 223px;
        margin-right: 57px;

        content: '';

        border: .5px solid #0099b3;
        border-radius: 50%;
    }

    header .cats .bg:after
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 694px;
        height: .5px;
        margin-left: -331px;

        content: '';
        transform: rotate(-74.53deg);

        background: #ff5b74;
    }

    header .cats .bg.hide_pattern:before,
    header .cats .bg.hide_pattern:after
    {
        display: none;
    }
    /*---------------
        Main section
    ---------------*/
    .main_slider .logo_abs:after
    {
        top: 100px;
        left: -48px;
    }

    .main_slider .logo_abs img
    {
        max-width: 400px;
    }

    .main_slider .slide
    {
        min-height: 480px;
    }

    .main_slider .slide .name
    {
        font-size: 40px;
        line-height: 44px;

        height: 132px;
        padding-left: 110px;
    }

    .main_slider .slide .box_img
    {
        right: 0;

        width: 240px;
    }

    .main_slider .slide .link
    {
        line-height: 150px;

        width: 150px;
        height: 150px;
        margin-top: 68px;
        margin-right: 280px;
        margin-left: auto;
    }


    .big_stick
    {
        display: none;
    }

    .sell_out .slide
    {
        width: 250px;
    }

    .sell_out .slide.big
    {
        width: 400px;
    }

    .sell_out .slide .box
    {
        padding-bottom: 20px;
    }

    .sell_out .slide .name
    {
        font-size: 28px;
        line-height: 32px;
    }

    .sell_out .slide .more
    {
        margin-top: 16px;
    }

    .sell_out .slide .more
    {
        font-size: 16px;
        line-height: 30px;

        padding-right: 40px;
    }

    .sell_out .slide .more .icon
    {
        width: 30px;
        height: 30px;
    }

    .sell_out .slide .more .icon svg
    {
        width: 6px;
        height: 12px;
    }


    .product_info .circle
    {
        display: none;
    }

    .product_info .slider
    {
        width: calc(100% - 180px);
    }

    .product_info .favorite_btn button:hover:before{
        opacity: 0;
    }

    .product_info .favorite_btn button.active:before
    {
        opacity: 1;
    }


    .stikers .stiker.favorite_btn button:hover:before{
        opacity: 0;
    }

    .stikers .stiker.favorite_btn button.active:before{
        opacity: 1;
    }


    .main_cats,
    .products.marg_top,
    .advantages,
    .interesting,
    .form_section,
    footer
    {
        margin-top: 80px;
    }

    .main_cats .grid .item img
    {
        display: none;
    }

    .main_cats .grid
    {
        font-size: 48px;
        line-height: 60px;
    }

    .products .main_grid
    {
        margin-left: -35px;
    }

    .products .main_grid .product
    {
        width: calc(30.77% - 35px);
        margin-left: 35px;
    }

    .products .main_grid .product.big
    {
        width: calc(38.46% - 35px);
    }

    .products .main_grid .product:nth-child(3n)
    {
        top: 55px;
    }

    .products .product .box_name .name
    {
        font-size: 16px;
    }

    .products .product .wrapp_thumb .callBback_btn,
    .products .product .wrapp_thumb .fast_buy_btn,
    .products .product .wrapp_thumb .cart_btn
    {
        display: none;
    }

    .products .product .mob_cart_btn
    {
        display: flex;
    }

    .box_stick
    {
        top: -100px;
        left: -25px;

        width: 160px;
    }


    .advantages .items
    {
        margin-top: 25px;
    }

    .advantages .items .item
    {
        padding-left: 0;
    }

    .advantages .item .name
    {
        width: 100%;
        padding-left: 80px;
    }

    .advantages .item .box_desc
    {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .advantages .item .desc
    {
        max-width: 100%;
    }


    .interesting .slider
    {
        padding-right: 100px;
    }

    .interesting .slide .date .number
    {
        font-size: 60px;
        line-height: 72px;
    }

    .interesting .slide .date .month_year
    {
        padding-bottom: 12px;
    }

    .interesting .slide .name
    {
        font-size: 28px;
        line-height: 34px;

        margin-top: 15px;
    }

    .interesting .slide .desc
    {
        font-size: 16px;
        line-height: 26px;
    }

    .interesting .slide .more_link
    {
        margin-top: 20px;
    }

    .owl-carousel .owl-nav button.owl-prev
    {
        margin-left: 114px;
    }

    .owl-carousel .owl-nav button.owl-next
    {
        margin-left: 160px;
    }


    .categories:before
    {
        height: calc(100% + 170px);
    }

    .categories .list .item
    {
        font-size: 48px;
        line-height: 58px;
    }

    .categories .abs_img1
    {
        width: 550px;
        height: 550px;
    }

    .categories .abs_img3
    {
        margin-left: 255px;
    }


    .contacts .abs_img1
    {
        left: -160px;

        width: 350px;
        height: 350px;
    }

    .contacts .abs_img2
    {
        margin-left: 240px;
    }

    .contacts .abs_img3
    {
        width: 105px;
        height: 105px;
    }

    .contacts .box_map
    {
        width: 700px;
        height: 700px;
    }


    .cart_info
    {
        margin-top: 45px;
    }

    .cart_info table thead
    {
        display: none;
    }

    .cart_info table tr
    {
        position: relative;

        display: flex;

        border-top: 1px solid #e8e8e8;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .cart_info table tr:last-child
    {
        border-bottom: 1px solid #e8e8e8;
    }

    .cart_info table tr td
    {
        width: 20%;
        padding: 15px 0 15px 15px;

        border-bottom: none;
    }

    .cart_info table tr:first-child td
    {
        border-top: none;
    }

    .cart_info table tr td:before
    {
        color: rgba(24,33,77, .4);
        font-size: 13px;

        display: block;

        width: 100%;
        margin-bottom: 6px;

        content: attr(data-column);
        letter-spacing: -.266667px;
    }

    .cart_info table tr td.info
    {
        width: calc(100% - 90px);
        padding-right: 50px;
    }

    .cart_info table tr td.color
    {
        padding-left: 0;
    }

    .cart_info table tr td.box_price
    {
        display: flex;

        justify-content: flex-start;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .cart_info table tr td.box_price .old_price
    {
        line-height: 19px;

        margin-right: 10px;
        margin-bottom: 0;
    }

    .cart_info table tr td.delete
    {
        position: absolute;
        top: 15px;
        right: 0;

        padding: 0;
    }

    .cart_info table tr td.thumb:before,
    .cart_info table tr td.info:before,
    .cart_info table tr td.delete:before
    {
        display: none;
    }

    .amount button
    {
        height: 20px;
    }

    .amount .input
    {
        font-size: 16px;

        height: 20px;
    }

    .cart_info .bot
    {
        margin-top: 30px;
    }


    .checkout .form
    {
        width: calc(100% - 360px);
    }

    .checkout .item + .item
    {
        margin-top: 60px;
    }

    .checkout .item .col
    {
        width: calc(50% - 10px);
    }

    .checkout .item .col + .col
    {
        margin-top: 0;
        margin-left: auto;
    }

    .checkout .form .title
    {
        font-size: 32px;
        line-height: 32px;
    }

    .checkout .form .line_flex .line_form
    {
        width: 100%;
    }

    .checkout .form .radio + .radio
    {
        margin-top: 20px;
    }

    .checkout .box_btn
    {
        margin-top: 50px;
    }

    .checkout .box_btn .order_btn
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .checkout .box_l
    {
        width: 330px;
    }

    .checkout .box_inner
    {
        padding: 20px;
    }

    .checkout .box_inner .top .line .title
    {
        font-size: 32px;
        line-height: 32px;
    }

    .checkout .box_orders .order .name
    {
        line-height: 22px;
    }


    .lk_info table tr th
    {
        font-size: 16px;

        padding-bottom: 15px;
    }

    .lk_info table tr td
    {
        font-size: 16px;
        line-height: 22px;
    }

    .lk_info table tr td.info
    {
        width: 175px;
        padding-left: 15px;
    }

    .lk_info table tr td.box_price .old_price
    {
        margin-bottom: 5px;
    }

    .lk_info table tr td.delete
    {
        width: 35px;
    }

    .lk_info table tr td.delete a
    {
        width: 35px;
        height: 35px;
    }

    .lk_info table tr td.delete img
    {
        width: 12px;
        height: 12px;
    }

    .lk_orders
    {
        margin-top: 45px;
    }

    .lk_orders .delivery .name,
    .lk_orders .delivery .date
    {
        font-size: 16px;
        line-height: 22px;
    }

    .lk_orders .price_flex
    {
        width: 100%;

        justify-content: flex-end;
    }

    .lk_orders .repeat_order
    {
        margin-top: 30px;
        margin-left: auto;
    }


    .lk_page .discount
    {
        margin-bottom: 30px;
    }

    .lk_page .form
    {
        margin-top: 40px;
    }

    .lk_page .form .item + .item
    {
        margin-top: 10px;
    }


    .my_orders
    {
        margin-top: 40px;
    }

    .my_orders table thead
    {
        display: none;
    }

    .my_orders table tr
    {
        display: flex;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .my_orders table tr:nth-child(odd)
    {
        border-top: 1px solid rgba(24,33,77, .1);
    }

    .my_orders table tr:nth-child(even)
    {
        padding-bottom: 15px;
    }

    .my_orders table tr:last-child
    {
        border-bottom: 1px solid rgba(24,33,77, .1);
    }

    .my_orders table tr td
    {
        position: relative;

        width: 33.333%;
        padding-top: 50px;
        padding-bottom: 0;
    }

    .my_orders table tr:nth-child(odd) td
    {
        padding-bottom: 0;
    }

    .my_orders table tr td:before
    {
        position: absolute;
        top: 20px;
        left: 20px;

        display: block;
    }

    .my_orders table tr td:first-child:before
    {
        left: 0;
    }

    .my_orders table tr td.delete
    {
        padding-top: 25px;
    }

    .my_orders table tr:first-child td
    {
        border-top: none;
    }

    .my_orders table tr:nth-child(even) td
    {
        border-bottom: none;
    }

    .my_orders table tr:nth-child(even) td
    {
        padding-top: 50px;
    }

    .my_orders table tr:nth-child(even) td:nth-child(4)
    {
        padding-left: 0;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(2)
    {
        width: calc(66.666% - 96px);
        padding-left: 20px;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(4)
    {
        padding-left: 0;
    }

    .my_orders table tr:nth-child(odd) td:nth-child(4):before
    {
        left: 0;
    }

    .my_orders table tr td.more
    {
        margin-left: auto;
        padding-top: 35px;
    }


    .sort
    {
        margin-top: 45px;
    }

    .news_grid
    {
        margin-bottom: 20px;
    }

    .news_grid .item
    {
        width: calc(100%/2 - 30px);
        margin-bottom: 50px;
    }

    .news_grid .item .bot
    {
        margin-top: 20px;
    }


    .page_news
    {
        margin-top: 45px;
    }

    .page_news blockquote
    {
        margin-left: 55px;
    }

    .pag_btn a .name
    {
        font-size: 30px;
        line-height: 30px;
    }


    .letters
    {
        margin-top: 40px;
    }

    .letters .letter
    {
        font-size: 26px;
        line-height: 60px;

        margin: 0 15px;
    }

    .brands
    {
        margin-left: -20px;
    }

    .brands .brand
    {
        width: calc(100%/4 - 20px);
        margin: 20px 0 0 20px;
    }


    .section_error
    {
        padding: 40px 0 75px;
    }

    .section_error .abs_img
    {
        margin-right: 200px;
    }

    .section_error .error_img
    {
        width: 340px;
    }

    .section_error .title
    {
        font-size: 36px;
        line-height: 36px;
    }

    .section_error:before
    {
        margin-left: -430px;
    }

    .section_error:after
    {
        width: 350px;
        height: 350px;
        margin-right: 185px;
    }


    .filter
    {
        margin-top: 25px;
    }

    .filter .item
    {
        width: calc(100%/4 - 20px);
    }

    .filter .item:nth-child(5n) .mini_modal
    {
        right: auto;
        left: 0;
    }

    .filter .item:nth-child(4n) .mini_modal
    {
        right: 0;
        left: auto;
    }

    .select_wrap .nice-select .current,
    .filter .mini_modal_link,
    .form .reset_btn
    {
        font-size: 16px;
    }


    .products
    {
        margin-top: 45px;
    }

    .products .grid
    {
        margin-left: -20px;

        --products_count: 3;
    }

    .products .grid .product
    {
        width: calc(33.333% - 20px);
        margin: 0 0 60px 20px;
    }


    .head_page .discount_up
    {
        font-size: 44px;
        line-height: 44px;
    }


    .big_stick3
    {
        top: -100px;
        right: 195px;
    }


    .information
    {
        margin-top: 80px;
    }

    .information .box_desc
    {
        width: 100%;
        max-width: 100%;
        margin-top: 5px;
        margin-left: 0;
    }

    .reviews .review
    {
        padding: 20px 20px 30px;
    }

    .reviews .desc
    {
        font-size: 16px;
        line-height: 25px;
    }

    .reviews .date
    {
        font-size: 16px;
        line-height: 25px;
    }

    .reviews .owl-carousel .owl-nav button
    {
        top: auto;
        bottom: -70px;
    }

    .reviews .review_btn
    {
        margin-top: 30px;
    }


    .product_info .title
    {
        font-size: 48px;
        line-height: 48px;
    }

    .product_info .select_wrap .label,
    .product_info .fast_buy_btn,
    .product_info .cart_btn
    {
        font-size: 16px;
    }
    /*---------------
        Footer
    ---------------*/
    footer .contact
    {
        width: 100%;
        margin-top: 30px;
    }

    footer .messengers a
    {
        font-size: 15px;
    }

    footer .messengers a + a
    {
        margin-left: 30px;
    }

    footer .messengers a:hover img
    {
        transform: none;
    }

    /*---------------
       PopUp
    ---------------*/

    .modal
    {
        padding: 45px 30px 55px;
    }
}
