/* Container */
.wheelSlider-container
{
    position: relative;

    visibility: hidden;

    width: 100%;

    transition: .2s linear;

    opacity: 0;
}

.wheelSlider-container.with_dots
{
    margin-bottom: 30px;
}

.wheelSlider-container.loaded
{
    visibility: visible;

    opacity: 1;
}



/* Slide */
.wheelSlider-container .slide
{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    min-height: 100%;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: .5s linear;

    opacity: 0;
}

.wheelSlider-container.loaded .slide
{
    transform: scale(.465);
}

.wheelSlider-container .slide.first,
.wheelSlider-container .slide.last
{
    transform: scale(.27);
}

.wheelSlider-container .slide:after
{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    cursor: pointer;
}

.wheelSlider-container .slide.next,
.wheelSlider-container .slide.prev
{
    z-index: 90;

    visibility: visible;

    opacity: 1;
}


.wheelSlider-container .slide.first,
.wheelSlider-container .slide.last
{
    z-index: 80;

    visibility: visible;

    opacity: 1;
}

.wheelSlider-container .slide.next
{
    left: 80%;
}

.wheelSlider-container .slide.prev
{
    left: -80%;
}

.wheelSlider-container .slide.last
{
    left: 124.5%;
}

.wheelSlider-container .slide.first
{
    left: -124.5%;
}

.wheelSlider-container .slide.now
{
    z-index: 99;

    visibility: visible;

    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    transform: scale(1);

    opacity: 1;
}

.wheelSlider-container .slide.now:after
{
    display: none;
}


/* Dots */
.wheelSlider-container .dots
{
    position: absolute;
    z-index: 100;
    bottom: -30px;
    left: 50%;

    display: flex;

    height: 10px;
    margin: 0;

    transform: translateX(-50%);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.wheelSlider-container .dots > * + *
{
    margin-left: 14px;
}

.wheelSlider-container .dots button
{
    display: block;
    overflow: hidden;

    width: 10px;
    height: 10px;

    cursor: pointer;
    transition: .2s linear;
    text-indent: -9999px;

    border: none;
    border-radius: 50%;
    background: #999;
}

.wheelSlider-container .dots button:hover,
.wheelSlider-container .dots button.active
{
    background: #3faee3;
}



/* Arrows */
.wheelSlider-container .wheelSlider-arrow
{
    position: absolute;
    z-index: 100;
    top: 50%;

    display: flex;
    overflow: hidden;

    width: 15px;
    height: 30px;
    margin-top: -15px;

    cursor: pointer;
    transition: .2s linear;
    text-indent: -9999px;

    border: none;
    background: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.wheelSlider-container .wheelSlider-arrow[data-action='prev']
{
    left: -68.5%;
}

.wheelSlider-container .wheelSlider-arrow[data-action='next']
{
    right: -68.5%;
}

.wheelSlider-container .wheelSlider-arrow span
{
    position: absolute;
    top: 50%;

    display: block;

    width: 16px;
    height: 16px;
    margin-top: -8px;

    content: '';
    transition: .2s linear;
    transform: rotate(-45deg);
}

.wheelSlider-container .wheelSlider-arrow[data-action='prev'] span
{
    left: 50%;

    display: block;

    margin-left: -4px;

    border-top: 2px solid var(--color3);
    border-left: 2px solid var(--color3);
}

.wheelSlider-container .wheelSlider-arrow[data-action='next'] span
{
    right: 50%;

    display: block;

    margin-right: -4px;

    border-right: 2px solid var(--color3);
    border-bottom: 2px solid var(--color3);
}

.wheelSlider-container .wheelSlider-arrow:hover
{
    border-color: var(--color1);
}



/* Arrows - vertical */
.wheelSlider-container.vertical
{
    margin-top: 86px !important;
    margin-bottom: 86px !important;
}

.wheelSlider-container.vertical .slide.next,
.wheelSlider-container.vertical .slide.prev
{
    visibility: visible;

    opacity: .5;
}

.wheelSlider-container.vertical .slide.prev
{
    top: -50%;
    left: 0;
}

.wheelSlider-container.vertical .slide.next
{
    top: 50%;
    left: 0;
}


.wheelSlider-container.vertical .wheelSlider-arrow[data-action='prev']
{
    top: -23.5%;
    left: 50%;

    margin-top: 0;

    transform: rotate(90deg);
}

.wheelSlider-container.vertical .wheelSlider-arrow[data-action='next']
{
    top: auto;
    right: 50%;
    bottom: -23.5%;

    margin-top: 0;

    transform: rotate(90deg);
}
